# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Block Comment',
      'command': 'block-and-line-comment:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Block and Lines Comment'
      'submenu': [
        {
          'label': 'Toggle block comment',
          'command': 'block-and-line-comment:toggle'
        }
      ]
    ]
  }
]
